<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>FlashCards</title>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/howler/1.1.26/howler.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>

  <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
  <div id="app"></div>

  <script type="text/javascript">
    window.flashCards = {{json flashCards}}
  </script>

  <script type="text/javascript" src="./js/cards.js"></script>
</body>
</html>